{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Register</h1>
    <form method="POST" class="needs-validation" novalidate>
        {{ form.hidden_tag() }}  <!-- CSRF-token -->

        <div class="mb-3">
            {{ form.email.label(class_="form-label") }}
            {{ form.email(class_="form-control", size=30) }}
        </div>

        <div class="mb-3">
            {{ form.alias.label(class_="form-label") }}
            {{ form.alias(class_="form-control", size=20) }}
        </div>

        <div class="mb-3">
            {{ form.password.label(class_="form-label") }}
            {{ form.password(class_="form-control", size=30) }}
        </div>

        <div class="mb-3">
            {{ form.confirm_password.label(class_="form-label") }}
            {{ form.confirm_password(class_="form-control", size=30) }}
        </div>

        <div class="d-grid">
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
